<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title}
    link(href='https://fonts.googleapis.com/css?family=Muli%7CRoboto:400,300,500,700,900', rel='stylesheet')
    link(rel='stylesheet', href='/static/stylesheets/style.css')
    link(rel="apple-touch-icon", sizes="180x180", href="/static/img/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/static/img/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/static/img/favicon-16x16.png")
    link(rel="manifest", href="/static/img/site.webmanifest")
  body
    block content